/dist/
/Neo4jWrapper/build/
/Gephi/build/
/Gephi/nbproject/private/
/GephiWrapper/build/
/GephiWrapper/nbproject/private/
/GraphstoreWrapper/nbproject/private/
/GraphstoreWrapper/build/
/BiojavaWrapper/nbproject/private/
/BiojavaWrapper/build/
/Swingx/build/
/nbproject/private/
/BapedisCore/build/
/build/
/Neo4jDB/build/