/dist/
/Neo4jWrapper/build/
/Gephi/build/
/Gephi/nbproject/private/
/GephiWrapper/build/
/GephiWrapper/nbproject/private/
/GraphstoreWrapper/nbproject/private/
/GraphstoreWrapper/build/
/BiojavaWrapper/nbproject/private/
/BiojavaWrapper/build/
/Swingx/build/
/nbproject/private/
/BapedisCore/build/
/build/
/Neo4jDB/build/
/BapedisCore/nbproject/private/
/Neo4jDB/nbproject/private/
/GraphStoreWrapper/build/
/JfreechartWrapper/build/
/Modamp/build/
/SimilarityNetwork/build/
/Filters/build/
/Modamp/nbproject/private/
/SimilarityNetwork/nbproject/private/
/Swingx/nbproject/private/
/Filters/nbproject/private/
/ChemSpaceMapper/build/
/ChemSpaceMapper/nbproject/private/
/WekaWrapper/build/
/Clustering/build/
/Clustering/nbproject/private/
/JmolDisplayer/build/
/JmolDisplayer/nbproject/private/
/JmolAPI/build/
/JmolAPI/nbproject/private/
/GraphStore/build/
/GraphStoreWrapper/nbproject/private/
/GraphStore/nbproject/private/
/FeatureSelection/build/
/FeatureSelection/nbproject/private/
/GraphMining/build/